Normalized/Contact filter=lfs diff=lfs merge=lfs -text
Normalized/OverlapContactsWithDirection filter=lfs diff=lfs merge=lfs -text
Normalized/Contact/MYC_ES-WT-ALL_Promoter_Normalized_3bp.txt.gz filter=lfs diff=lfs merge=lfs -text
Normalized/Contact/MYC_ES-WT-M14_Sox2_Promoter_Normalized_3bp.png filter=lfs diff=lfs merge=lfs -text
Normalized/Contact/MYC-Sox2_ES-WT-ALL_Promoter_Normalized_3bp_2x_downsampled.RDataFS filter=lfs diff=lfs merge=lfs -text
Normalized/Contact/MYC-Sox2_ES-WT-ALL_Promoter_Normalized_3bp_2x_downsampled.txt.gz filter=lfs diff=lfs merge=lfs -text
Normalized/Contact/MYC_ES-M14_Promoter_Normalized_3bp.txt.gz filter=lfs diff=lfs merge=lfs -text
Normalized/Contact/MYC_ES-Sox2_Promoter_Normalized_3bp.txt.gz filter=lfs diff=lfs merge=lfs -text
Normalized/Contact/MYC_ES-WT-ALL_Promoter_Normalized_3bp_2x_downsampled.RDataFS filter=lfs diff=lfs merge=lfs -text
Normalized/Contact/MYC_ES-WT-ALL_Promoter_Normalized_3bp_2x_downsampled.txt.gz filter=lfs diff=lfs merge=lfs -text
Normalized/OverlapContactsWithDirection/E14-M14dTAG-MYC_Directional_Normalized.txt.gz filter=lfs diff=lfs merge=lfs -text
Normalized/OverlapContactsWithDirection/E14-Sox2dTAG-MYC_Directional_Normalized.txt.gz filter=lfs diff=lfs merge=lfs -text
Normalized/OverlapContactsWithDirection/E14-WT-ALL-MYC_Directional_Normalized.txt.gz filter=lfs diff=lfs merge=lfs -text
data/*.rdsa filter=lfs diff=lfs merge=lfs -text
data/mnase_model_6bp.rda filter=lfs diff=lfs merge=lfs -text
data/myc_mm10_dt_with_map_and_gc_mnase.rda filter=lfs diff=lfs merge=lfs -text
data/myc_mm10_mnase_bias_matrix.rda filter=lfs diff=lfs merge=lfs -text
data/mnase_bias_matrix_myc_6kb_1bp_res.rds filter=lfs diff=lfs merge=lfs -text
data/mnase_model_6bp.rds filter=lfs diff=lfs merge=lfs -text
data/myc_mm10_mnase_bias_matrix_mnase_mm10_6mer_mes_sobias.rda filter=lfs diff=lfs merge=lfs -text
data/myc_mm10_mnase_bias_matrix_mnase_mm10_8mer_mes_sobias.rda filter=lfs diff=lfs merge=lfs -text
*.Rbuildignore filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
/DESCRIPTION filter=lfs diff=lfs merge=lfs -text
/NAMESPACE filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.DS_Store filter=lfs diff=lfs merge=lfs -text
*.RDataFS filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.Rproj filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.rds filter=lfs diff=lfs merge=lfs -text
*.rda filter=lfs diff=lfs merge=lfs -text
*.cpp filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.Rd filter=lfs diff=lfs merge=lfs -text
*.def filter=lfs diff=lfs merge=lfs -text
