*.txt filter=lfs diff=lfs merge=lfs -text
myc_mm10_mnase_bias_matrix_mnase_mm10_6mer_mes_sobias.rda filter=lfs diff=lfs merge=lfs -text
myc_mm10_mnase_bias_matrix_mnase_mm10_8mer_mes_sobias.rda filter=lfs diff=lfs merge=lfs -text
myc_mm10_mnase_bias_matrix.rda filter=lfs diff=lfs merge=lfs -text
mnase_bias_matrix_myc_6kb_1bp_res.rds filter=lfs diff=lfs merge=lfs -text
mnase_model_6bp.rds filter=lfs diff=lfs merge=lfs -text
myc_mm10_dt_with_map_and_gc_mnase.rds filter=lfs diff=lfs merge=lfs -text
myc_mm10_dt_with_map_and_gc_mnase.rda filter=lfs diff=lfs merge=lfs -text
mnase_bias_matrix_myc_6kb_1bp_res_old.rds filter=lfs diff=lfs merge=lfs -text
myc_mm10_dt_with_map_and_gc_mnase_8bp_v_sob.rds filter=lfs diff=lfs merge=lfs -text
mnase_model_6bp.rda filter=lfs diff=lfs merge=lfs -text
myc_mm10_mnase_bias_matrix_mnase_mm10_6mer_sobias.rda filter=lfs diff=lfs merge=lfs -text
k24.merged.GRCm39_umap.MultiReadMappability.bedGraph.xz filter=lfs diff=lfs merge=lfs -text
ctrl_mat_no_scn_deseq2_diff_ds.rds filter=lfs diff=lfs merge=lfs -text
mnase_bias_6bp.rds filter=lfs diff=lfs merge=lfs -text
trt_mat_no_scn_deseq2_diff_ds.rds filter=lfs diff=lfs merge=lfs -text
ds_smoothed_mat_set.rds filter=lfs diff=lfs merge=lfs -text
mnase_corrected_mats.rds filter=lfs diff=lfs merge=lfs -text
long_ctrl_trt_df_deseq2_diff_ds_mnase_corrected_mnase.csv.gz filter=lfs diff=lfs merge=lfs -text
estimate_plot.rds filter=lfs diff=lfs merge=lfs -text
output_summary_long_ctrl_trt_df_deseq2_diff_ds_mnase_corrected_gam.rds filter=lfs diff=lfs merge=lfs -text
p_val_plot.rds filter=lfs diff=lfs merge=lfs -text
k24.merged.GRCm39_umap.MultiReadMappability.bedGraph.gz filter=lfs diff=lfs merge=lfs -text
