MYC_1_M14dTAG-P_P-1.txt filter=lfs diff=lfs merge=lfs -text
MYC_2_M14dTAG-P_P-1.txt filter=lfs diff=lfs merge=lfs -text
MYC_3_M14dTAG-P_P-1.txt filter=lfs diff=lfs merge=lfs -text
MYC_3_WT-P_P-1.txt filter=lfs diff=lfs merge=lfs -text
MYC_4_M14dTAG-P_P-1.txt filter=lfs diff=lfs merge=lfs -text
MYC_5_WT-P_P-1.txt filter=lfs diff=lfs merge=lfs -text
MYC_6_M14dTAG-P_P-1.txt filter=lfs diff=lfs merge=lfs -text
MYC_1_WT-P_P-1.txt filter=lfs diff=lfs merge=lfs -text
MYC_2_WT-P_P-1.txt filter=lfs diff=lfs merge=lfs -text
MYC_4_WT-P_P-1.txt filter=lfs diff=lfs merge=lfs -text
MYC_5_M14dTAG-P_P-1.txt filter=lfs diff=lfs merge=lfs -text
MYC_6_WT-P_P-1.txt filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
MYC_2_WT-P_P-1.txt.gz filter=lfs diff=lfs merge=lfs -text
MYC_3_M14dTAG-P_P-1.txt.gz filter=lfs diff=lfs merge=lfs -text
MYC_4_M14dTAG-P_P-1.txt.gz filter=lfs diff=lfs merge=lfs -text
MYC_4_WT-P_P-1.txt.gz filter=lfs diff=lfs merge=lfs -text
MYC_5_WT-P_P-1.txt.gz filter=lfs diff=lfs merge=lfs -text
MYC_6_M14dTAG-P_P-1.txt.gz filter=lfs diff=lfs merge=lfs -text
MYC_6_WT-P_P-1.txt.gz filter=lfs diff=lfs merge=lfs -text
MYC_1_M14dTAG-P_P-1.txt.gz filter=lfs diff=lfs merge=lfs -text
MYC_1_WT-P_P-1.txt.gz filter=lfs diff=lfs merge=lfs -text
MYC_2_M14dTAG-P_P-1.txt.gz filter=lfs diff=lfs merge=lfs -text
MYC_3_WT-P_P-1.txt.gz filter=lfs diff=lfs merge=lfs -text
MYC_5_M14dTAG-P_P-1.txt.gz filter=lfs diff=lfs merge=lfs -text
